/* Resetear estilos para el navegador */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Estilos generales del Navbar */
  header {
    background-color: #000000; /* Color de fondo del Navbar */
    padding: 30px; /* Espaciado interno superior e inferior */
  }
  
  nav {
    text-align: center; /* Centrar los elementos del Navbar */
    display: flex; /* Mostrar los elementos del Navbar en línea */
    flex-direction: column;
    justify-content: space-between; /* Espaciado uniforme entre los elementos del Navbar */
    align-items: center;
  }
  
  /* Estilos de los elementos del Navbar */
  
  nav div a img {
    width: 400px;
    margin: 20px;
  }
  
  ul {
    list-style: none; /* Eliminar los puntos de la lista */
    display: flex; /* Mostrar los elementos de la lista en línea */
    flex-wrap: wrap; /* Permitir el ajuste del contenido en varias líneas */
  }
  
  li {
    margin-right: 20px; /* Espaciado entre elementos de la lista */
  }
  
  a {
    text-decoration: none; /* Eliminar el subrayado predeterminado de los enlaces */
    color: #fff; /* Color del texto del enlace */
    font-weight: bold; /* Hacer el texto del enlace en negrita */
    font-size: 18px; /* Tamaño del texto del enlace */
  }
  
  /* Estilos al pasar el ratón sobre los enlaces */
  a:hover {
    color: #ececec; /* Cambiar el color del texto al pasar el ratón sobre el enlace */
  }
  
  .active {
    color: #ED1C24; /* Color del texto del enlace activo */
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav div a img {
      margin: 0; /* Eliminar el margen en dispositivos móviles */
      margin-bottom: 10px; /* Agregar espacio entre el logo y los elementos de la lista */
    }
  
    ul {
      width: 100%;
      padding: 0;
    }
  
    li {
      margin: 3px 0;
      text-align: center;
      width: 100%; /* Ocupar todo el ancho en dispositivos móviles */
    }
  }
  